In [1]:
#1.How do you comment code in Python? What are the different types of comments?

In [2]:
print("Hello, World!")  # This is a singal line comment.

Hello, World!

In [81]:
# Another way to write multi-line comments.
''' My name is panesana 
My father name is xyz '''

' My name is panesana \nMy father name is xyz '

In [82]:
""" I have alredy enrolled data scince 
2.O pwskills corse"""

' I have alredy enrolled data scince \n2.O pwskills corse'

In [4]:
# Initialize the variable 
x = 10

In [ ]:
#2.What are variables in Python? How do you declare and assign values to variables?

In [5]:

a = 30 # Integer variable

a = "John Doe" # String variable

l = [1, 2, 3, 4, 5] # List variab

t = (10, 20) # Tuple variable

d = {"name": "Alice", "age": 25} # Dictionary variable

In [6]:
#3.How do you convert one data type to another in Python?

In [12]:
num = "42"
num_str = str(num)
print(num_str)

42

In [13]:
l = {"pwskills" , "pankaj" ,"panesana"}

In [19]:
print(l.append(3))

None

In [20]:
l

['pwskills', 'pankaj', 'panesana', 3]

In [ ]:
#4.How do you write and execute a Python script from the command line?

In [ ]:
myscript.py

In [ ]:
#5.Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [22]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [ ]:
#6.What is a complex number in mathematics, and how is it represented in Python?

In [26]:
a = 3+5j

In [27]:
b = 5-7j

In [28]:
#7.What is the correct way to declare a variable named age and assign the value 25 to it?

In [32]:
age = 25

In [33]:
print("my age is",age)

my age is 25

In [34]:
#8.Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [36]:
a = 9.99 #This variable is "flaot"

In [37]:
#9.Create a variable named name and assign your full name to it as a string. How would you print thevalue of this variable?

In [38]:
name = "pankaj_panesana"

In [42]:
print(name)

pankaj_panesana

In [43]:
#10.Given the string "Hello, World!", extract the substring "World".

In [57]:
str = "hello,world!"
str = str[6:]
print(str)

world!

In [58]:
#11.Create a variable named "is_student" and assign it a boolean value indicating whether you arecurrently a student or not.

In [66]:
"is_studend" == "pankaj",True

(False, True)

In [68]:
"is_student" == True

False

In [69]:
"is_studend" == False

False